<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectAltar"
        tools:targetApi="31">
        <activity
            android:name=".BfpHistoryActivity_female"
            android:exported="false" />
        <activity
            android:name=".BfpHistoryActivity_male"
            android:exported="false" />
        <activity
            android:name=".bfp_female"
            android:exported="false" />
        <activity
            android:name=".bfp_male"
            android:exported="false" />
        <activity
            android:name=".bfp_calculator"
            android:exported="false" />
        <activity
            android:name=".LbmHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".BmrHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".BmiHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".leanbodymax_calculator"
            android:exported="false" />
        <activity
            android:name=".water_intake_calcualtor"
            android:exported="false" />
        <activity
            android:name=".ovulation_calculator"
            android:exported="false" />
        <activity
            android:name=".calorie_calculator"
            android:exported="false" />
        <activity
            android:name=".bmr_calculator"
            android:exported="false" />
        <activity
            android:name=".bmi_calculator"
            android:exported="false" />
        <activity
            android:name=".calculator_categories"
            android:exported="false" />
        <activity
            android:name=".ActivityHome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>